
// variables
@import "./variables/variables";
// базові стилі
@import "./base/base";
// компоненти

// CONTAINER
@import"./components/container";

// Logo
@import"./components/logo";

// Header
@import"./components/header";

// MAin
@import"./components/main";

// advantage 
@import"./components/advantage";

// SERVICES
@import"./components/services";

// Team
@import"./components/team";

// Social link
@import"./components/socials_link";

// client
@import"./components/client";
//  footer
@import"./components/footer";
// button
@import"./components/btn";

// portfolio
@import"./components/btn_portfolio";
@import"./components/content_portfolio";








    
