.client{

&__list {
    display: flex;
    justify-content: center;
}

&__item {
    margin-right: 30px;
}

&__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    align-items: center;
    justify-content: center;
    fill: var(--svg-icon-color);
    cursor: pointer;

    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover {
    border-color: var(--hover-logo-btn-color);

    fill: var(--hover-logo-btn-color);
}

&__link:focus {
    border-color: var(--hover-logo-btn-color);

    fill: var(--hover-logo-btn-color);
}
}