.logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: bold;
    line-height: 1.17;
    color: var(--main-color);
    text-decoration: none;




&--first {
    display: flex;
    margin-right: 93px;
    padding-top: 24px;
}
&--secondary {
    margin-bottom: 20px;
    display: block;

    color: var(--secondary-color);
}
}
.web {
    color: var(--hover-logo-btn-color);
}