.main__section {
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-color: var(--background-futter-and-main);
    height: 400px;
    max-width: 480px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/mainecard/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 768px) {
     
    max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
    max-width: 1600px;
}
    }
    @media screen and (max-width: 767px){
    @media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
.main__section{
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-mob.jpg) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-mob.webp) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-mobi1x.jpg) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-mobi1x.webp) ; 
    

} 
	}}
    @media screen and (min-width: 768px) {

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){

.main__section{
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-tab.jpg) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-tab.webp) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-tab1x.jpg) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-tab1x.webp) ; 
    
} 
        }
    }
    @media screen and (min-width: 1200px) {

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx){

.main__section{
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-max.jpg) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main-max.webp) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main1x.jpg) ; 
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main1x.webp) ; 
    

} 
        }
    }
.main__title {
   max-width: 360px;

  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--secondary-color);
    text-transform: uppercase;
    
    
      @media screen and (min-width: 1200px) {
        min-width: 696px;

        font-size: 44px;
        line-height: 1.36;
       
  }
// font-weight: 900;
// 	font-size: 26px;
// 	line-height: 1.61;
// 	text-align: center;
// 	letter-spacing: 0.06em;
// 	text-transform: uppercase;
// 	// color: var(--sec-bg-font-color);
	
// 	margin: 0px auto;
// 	margin-bottom: 30px;

// 	@media screen and (max-width: 479px) {
// 		max-width: 360px;
// 	}
// 	@media screen and (min-width: 480px) {
// 		width: 360px;
// 	}

// 	@media screen and (min-width: 1200px) {
// 		width: 696px;
// 		font-size: 44px;
// 		line-height: 1.36;
// 	}
}


@import"./modal"