.services {
    padding-top: 0;


&__title {
    margin-bottom: 50px;

    text-align: center;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
}

&__list {
    display: flex;
}

&__item {
    margin-right: 30px;
}

&__container {
    position: relative;
}

&__container>&__text {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 27px;
    background-color: rgba(47, 48, 58, 0.8);

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-background-color);
    text-align: center;
}
}