h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

.nav__item:last-child {
    margin: 0;
}

.advantage__item:last-child {
    margin: 0;
   
}
.advantage__item:nth-child(2n){
@media screen and (max-width: 1199px) {
    margin: 0;
   
}
.advantage__text:nth-of-type(-n + 2) {
    @media screen and (min-width:768px) and (max-width: 1199px) {
        margin: 0;
    }
}
}
.services__item:last-child {
    margin: 0;
}
.team__item:last-child {
    margin-right: 0;
}
.address__item:last-child {
    margin: 0;
}
.butten__item--portfolio:last-child {
    margin: 0;
}

// .socials__list:last-child{
// @media screen and (max-width: 1999px) {
//     margin: 0;
// }
// }